{% extends "monitor_transacciones/base_monitor.html" %}
{% load static %}

{% block content%}
<div>
    <table id="ultimas_transacciones" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>TRANSACCION</th>
                <th>SKU</th>
                <th>Hora</th>
                <th>Campo</th>
                <th>Detalle Errores</th>
            </tr>
        </thead>
        <tbody>
        {% for error in object_list %}
            <tr>
                <td>
                    {{error.id}}
                </td>
                <td>
                    {{error.log.id}}
                </td>
                <td>
                    {{error.log.sku}}
                </td>
                <td>
                    {{error.log.fecha_transaccion}}
                </td>
                <td>
                    {{error.campo_error}}
                </td>
                <td>
                    {{error.detalle_error}}
                </td>
            </tr>
        {% endfor %}

        </tbody>

    </table>
<nav aria-label="Page navigation example">
  <ul class="pagination">

      {% if page_obj.has_previous %}
          <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&laquo; Anterior</span>
            <span class="sr-only">Anterior</span>
          </a>
        </li>
      {% else %}
      <li class="page-item disabled">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo; Anterior</span>
            <span class="sr-only">Anterior</span>
          </a>
        </li>
     {% endif %}
      <li class="page-item disabled">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.</span>
          </a>
      </li>
      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&raquo; Siguiente</span>
            <span class="sr-only">Siguiente</span>
          </a>
        </li>
      {% else %}
      <li class="page-item disabled">
          <a class="page-link" href="" aria-label="Next">
            <span aria-hidden="true">&raquo; Siguiente</span>
            <span class="sr-only">Siguiente</span>
          </a>
        </li>
     {% endif %}

  </ul>
</nav>
</div>


{% endblock %}