{% extends "monitor_transacciones/base_monitor.html" %}
{% load static %}

{% block content%}
<div>
    <table id="ultimas_transacciones" class="table table-striped table-bordered" style="width:40%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Tipo transacción</th>
                <th>SKU</th>
                <th>Operación</th>
                <th>Hora</th>
            </tr>
        </thead>
        <tbody></tbody>

    </table>
</div>

<script>

    $(document).ready(function() {
    $('#ultimas_transacciones').DataTable();
} );
</script>
{% endblock %}
